<div class="page-header">
  <h3>Genre #<%= @genre.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Genre name</dt>
      <dd><%= @genre.genre_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/genres" class="btn btn-primary">
        Back
      </a>
      <a href="/genres/<%= @genre.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_genre/<%= @genre.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Genre has many bands -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bands
      </li>

      <% @genre.bands.each do |band| %>
        <li class="list-group-item">
          <a href="/bands/<%= band.id %>">
            <%= band.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bands/<%= band.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bands/<%= band.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_band/<%= band.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_band" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for primary_genre -->
      <div class="form-group">
        <label for="primary_genre" class="control-label">
          Primary genre
        </label>

        <input type="text" id="primary_genre" name="primary_genre" placeholder="Primary genre" class="form-control" value="">
      </div>

      <!-- Label and input for genre_id -->
      <input type="hidden" name="genre_id" value="<%= @genre.id %>">

      <button class="btn btn-block btn-success">
        Create Band
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
