<div class="page-header">
  <h1>
    Gigposts
    <a href="/gigposts/new" class="btn btn-lg btn-success">New Gigpost</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Hourly price</th>
        <th>Title</th>
        <th>Description</th>
        <th>Band</th>
        <th>Actions</th>
      </tr>

      <% @gigposts.each do |gigpost| %>
      <tr>
        <td><%= gigpost.hourly_price %></td>
        <td><%= gigpost.title %></td>
        <td><%= gigpost.description %></td>
        <td><%= gigpost.band.name %></td>
        <td>
          <a href="/gigposts/<%= gigpost.id %>" class="btn btn-primary">Show</a>
          <a href="/gigposts/<%= gigpost.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_gigpost/<%= gigpost.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @gigposts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
