<div class="page-header">
  <h3>Band #<%= @band.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @band.name %></dd>

      <dt>Description</dt>
      <dd><%= @band.description %></dd>

      <dt>Primary genre</dt>
      <dd><%= @band.primary_genre %></dd>

      <dt>Genre</dt>
      <dd><%= @band.genre_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bands" class="btn btn-primary">
        Back
      </a>
      <a href="/bands/<%= @band.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_band/<%= @band.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
