<div class="page-header">
  <h3>Band #<%= @band.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @band.name %></dd>

      <dt>Description</dt>
      <dd><%= @band.description %></dd>

      <dt>Primary genre</dt>
      <dd><%= @band.primary_genre %></dd>

      <dt>Genre</dt>
      <dd><%= @band.genre_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bands" class="btn btn-primary">
        Back
      </a>
      <a href="/bands/<%= @band.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_band/<%= @band.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Band has many memberships -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Memberships
      </li>

      <% @band.memberships.each do |membership| %>
        <li class="list-group-item">
          <a href="/memberships/<%= membership.id %>">
            <%= membership.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/memberships/<%= membership.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/memberships/<%= membership.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_membership/<%= membership.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_membership" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for band_id -->
      <input type="hidden" name="band_id" value="<%= @band.id %>">

      <button class="btn btn-block btn-success">
        Create Membership
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Band has many gigposts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Gigposts
      </li>

      <% @band.gigposts.each do |gigpost| %>
        <li class="list-group-item">
          <a href="/gigposts/<%= gigpost.id %>">
            <%= gigpost.hourly_price %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/gigposts/<%= gigpost.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/gigposts/<%= gigpost.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_gigpost/<%= gigpost.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_gigpost" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for hourly_price -->
      <div class="form-group">
        <label for="hourly_price" class="control-label">
          Hourly price
        </label>

        <input type="text" id="hourly_price" name="hourly_price" placeholder="Hourly price" class="form-control" value="">
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for band_id -->
      <input type="hidden" name="band_id" value="<%= @band.id %>">

      <button class="btn btn-block btn-success">
        Create Gigpost
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Band has many posts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Posts
      </li>

      <% @band.posts.each do |post| %>
        <li class="list-group-item">
          <a href="/posts/<%= post.id %>">
            <%= post.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/posts/<%= post.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/posts/<%= post.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_post/<%= post.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_post" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for url -->
      <div class="form-group">
        <label for="url" class="control-label">
          Url
        </label>

        <input type="text" id="url" name="url" placeholder="Url" class="form-control" value="">
      </div>

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption
        </label>

        <input type="text" id="caption" name="caption" placeholder="Caption" class="form-control" value="">
      </div>

      <!-- Label and input for band_id -->
      <input type="hidden" name="band_id" value="<%= @band.id %>">

      <button class="btn btn-block btn-success">
        Create Post
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Band has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @band.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
