<div class="page-header">
  <h3>Band #<%= @band.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @band.name %></dd>

      <dt>Description</dt>
      <dd><%= @band.description %></dd>

      <dt>Primary genre</dt>
      <dd><%= @band.primary_genre %></dd>

      <dt>Genre</dt>
      <dd><%= @band.genre_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bands" class="btn btn-primary">
        Back
      </a>
      <a href="/bands/<%= @band.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_band/<%= @band.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Band has many memberships -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Memberships
      </li>

      <% @band.memberships.each do |membership| %>
        <li class="list-group-item">
          <a href="/memberships/<%= membership.id %>">
            <%= membership.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/memberships/<%= membership.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/memberships/<%= membership.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_membership/<%= membership.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Band has many gigposts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Gigposts
      </li>

      <% @band.gigposts.each do |gigpost| %>
        <li class="list-group-item">
          <a href="/gigposts/<%= gigpost.id %>">
            <%= gigpost.hourly_price %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/gigposts/<%= gigpost.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/gigposts/<%= gigpost.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_gigpost/<%= gigpost.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Band has many posts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Posts
      </li>

      <% @band.posts.each do |post| %>
        <li class="list-group-item">
          <a href="/posts/<%= post.id %>">
            <%= post.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/posts/<%= post.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/posts/<%= post.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_post/<%= post.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Band has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @band.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
