<!-- Validation failure messages -->
<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Post #<%= @post.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_post/<%= @post.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @post.title %>">
      </div>

      <!-- Label and input for url -->
      <div class="form-group">
        <label for="url" class="control-label">
          Url
        </label>

        <input type="text" id="url" name="url" placeholder="Url" class="form-control" value="<%= @post.url %>">
      </div>

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption
        </label>

        <input type="text" id="caption" name="caption" placeholder="Caption" class="form-control" value="<%= @post.caption %>">
      </div>

      <!-- Label and input for band_id -->
      <div class="form-group">
        <label for="band_id" class="control-label">
          Band
        </label>

        <%= select_tag(:band_id, options_from_collection_for_select(Band.all, :id, :name, @post.band_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Post
      </button>
      or
      <a href="/posts/<%= @post.id %>">Cancel</a>
    </form>
  </div>
</div>
