<div class="page-header">
  <h1>
    Posts
    <a href="/posts/new" class="btn btn-lg btn-success">New Post</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Caption</th>
        <th>Band</th>
        <th>Actions</th>
      </tr>

      <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.url %></td>
        <td><%= post.caption %></td>
        <td>
          <% if post.band.present? %>
            <a href="/bands/<%= post.band.id %>">
              <%= post.band.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/posts/<%= post.id %>" class="btn btn-primary">Show</a>
          <a href="/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_post/<%= post.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
